<header class="mb-3">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid float-between">
        <a class="navbar-brand" href="#">
          <img src="../images/logo.png" alt="Bootstrap" width="60" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
  
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Add
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="/categories/add"
                    >Categories</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/sub-category/add"
                    >Sub-Category</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="products/add">Products</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Edit
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="#">Categories</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Sub-Category</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#S">Products</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link">Edit User</a>
            </li>
          </ul>
          <form class="d-flex mx-auto" role="search">
            <input
              class="form-control me-2 float-end"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>
  </header>